<ion-header no-border translucent>
  <ion-toolbar color="jetgram-header">
    <ion-title class="ion-text-left">
      <h3>Nuevo post</h3>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="uploadImage()">
        <ion-icon name="share" mode="md"></ion-icon>
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label position="floating">Mensaje</ion-label>
    <ion-textarea [(ngModel)]="post.message"></ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" shape="round" (click)="takePhoto()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Cámara
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" shape="round" (click)="library()">
          <ion-icon slot="start" name="images"></ion-icon>
          Galería
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-list class="ion-padding">
      <ion-item *ngFor="let image of tempImages">
        <ion-thumbnail slot="start" size="before">
          <img [src]="image.img" width="50%" />
        </ion-thumbnail>
        <ion-progress-bar
          [color]="!image.upload ? 'warning' : 'success'"
          [ngClass]="{
            'ion-color-success': image.upload,
            'ion-color-tertiary': !image.upload
          }"
          [value]="image.progress / 100"
        >
        </ion-progress-bar>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
